* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; */
}

#root {
  width: 100%;
  max-width: 1700px;
  /* background-image: url("./assets/bg.jpeg"); */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* color: #fff; */
}

.LinkStyle {
  text-decoration: none;
  color: inherit;
}
